.canvas3d-container {
    background-color: violet;
    flex: 1;
    
}


.canvas3d {
    min-width: 0;
    /* modern dark color for background */
    background-color: rgb(12, 8, 22);
    
    flex:1;
    box-sizing: border-box;
}